VITE_SUPABASE_URL=https://TU-PROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=tu_anon_o_publishable_key
VITE_N8N_BASE_URL=https://n8n-n8n.fo86cl.easypanel.host
VITE_WEBHOOK_PREMIOS_NOTICIAS=https://n8n-n8n.fo86cl.easypanel.host/webhook/buscar-noticias-premio
